[Unit]
Description=Olympus API Flask Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/olympus-api
Environment="FLASK_APP=app.py"
Environment="FLASK_RUN_HOST=127.0.0.1"
ExecStart=/home/ubuntu/olympus-api/venv/bin/flask run
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
